html,
body {
    margin: 0;
    height: 100%;
    background: #18181b; /* zinc-900 */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

canvas {
    user-select: none;
    pointer-events: none;
}
/* Tailwind */
@import "tailwindcss";

/* Sources */
@source "../**/*.html";
@source "../**/*.js";

/* Variants */
@custom-variant dark (&:where(.dark, .dark *));
